footer{
    width: 100%;
    /* border-top: 1px solid olive; */
    background: #312205;

}

div.main_footer{
    /* border: 1px solid rebeccapurple; */
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
ul.footer{
   margin: 20px 0px;
   padding: 0;
   border-right: 2px solid #f2d26c;
   width: 25%;
   /* border: 1px solid red; */
}

ul.footer li{
    /* border-right:2px solid white; */
    padding: 0px 20px;
    display: flex;
    
}

ul.footer>li>p{
    color: white;
    font-size: 15px;
    line-height: 25px;
}
ul.footer_icon{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
   padding: 0;
   width: 25%;
   /* display: none; */
}
ul.footer_icon >li>a>img{
    /* border: 1px solid #f2d26c; */
    width: 30px;
    margin: 10px;
    display: flex;
}


div.copyright{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    /* border: 1px solid navy; */
    background: rgb(49, 34, 5);
 
}

div.copyright p{
    text-align: center;
    padding: 20px 0px;
    max-width:1200px ;
    color: #f6e19d;
    font-weight: lighter;
    font-size: 13px;
}
ul >li> p.title{
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 15px;
    color: #f2d26c;
    
}





/* RWDDDDDDDDDDDDDDDDD */


@media screen and (max-width: 991px){
    div.main_footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    ul.footer{
        margin: 0 auto;
        width: 80%;
        border: none;
        /* border-bottom: 1px solid gold; */
    }
    ul.footer::after{
        content: "";
        width: 100%;
        height: 2px;
        background: linear-gradient(gold ,transparent);
        display: block;
        border-radius: 50%;
    }
    ul.footer > li{
        justify-content: center;
        margin: 5px 0px;
        padding-top: 10px;
    }
    ul.footer_icon {
        margin: 10px 0px;
    }
    
    
  }